* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d91cacc;
    background-image: linear-gradient(to right, #13005A, #00337C, #1C82AD, #C47AFF);
}

.fi {
    display: inline;
    height: 90px;
    width: 90px;
    left: 10;
    float: left;
    margin-top: 15px;

}




button {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 5px;
    padding: 4px 6px;
    border-radius: 5px;
    text-decoration: none;
}

.heading {
    width: 100%;
    text-align: center;
    color: azure;
    font-size: 70px;
    text-shadow: 3px 3px 8px #000000, 3px 3px 5px #000000;
    padding-bottom: 20px;
    padding-top: 15px;
}

.sidebar {
    position: absolute;
    top: 116px;
    right: 0;
    width: 300px;
    height: 92%;
    background-color: #13005A;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #ccc;
    padding-bottom: 50px;

}

.button1 {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    color: #4FBDBA;
    border-color: #4FBDBA;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #13005A;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;


}

button:hover {
    box-shadow: none;
    color: white;
}

.stopbutton,
.startbutton {
    display: inline-block;
    width: 45%;
    padding: 5px;
    border-radius: 10px;
    color: #4FBDBA;
    border-color: #4FBDBA;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #13005A;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;

}



.range-slider {
    width: 100%;
    margin-bottom: 20px;
}

.size {
    color: #4FBDBA;
    border-color: #4FBDBA;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.visuals {
    display: flex;
    background-color: #D2DAFF;
    vertical-align: top;
    justify-content: center;
    height: 566px;
    width: 76%;
    transition: 2s all ease;
    padding-bottom: 20px;
    ;
}

.bar {
    display: inline-flex;
    background-color: #2C74B3;
    border-color: #13005A;
    vertical-align: top;
    justify-content: end;
    margin: 2px;
    width: 20px;
    color: white;
    text-align: justify;
    transition: 0.1s all ease;
}

.compared {
    transition: background-color ease-in 1s;
    background: red;
}

.finished {
    transition: background-color ease-in 1s;
    background: green;
}

footer {
    background-color: #000000;
    color: rgb(255, 254, 254);
    font-size: 25px;
    text-align: center;
    padding: 20px;
    overflow: hidden;

}



.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    margin-top: 20px;
    transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 3px;
}


input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 7px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
}